<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tnp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>tnp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tnp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tnp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="tcc" Order="1" Enabled="False">
          <Destination Path="Data Source=tccinstance.ckrmhnrglhon.us-west-2.rds.amazonaws.com;Initial Catalog=tcc;User ID=sa;Password=d&amp;$&amp;nv0lv1m&amp;nt0" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="tnp.Data.Context.AppContext, tnp.Data" MigrationConfiguration="tnp.Data.Migrations.Configuration, tnp.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>MergeAllOutputsToASingleAssembly</WDPMergeOption>
    <UseMerge>True</UseMerge>
    <SingleAssemblyName>tnp.site</SingleAssemblyName>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)tcc-Web.config Connection String">
      <ParameterValue>Data Source=tccinstance.ckrmhnrglhon.us-west-2.rds.amazonaws.com;Initial Catalog=tcc;User ID=sa;Password=d&amp;$&amp;nv0lv1m&amp;nt0</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>